@keyframes rainbow {
  0% {
    fill: blue;
    transform: translatex(0px);
  }

  50% {
    fill: purple;
    transform: translatex(50px);
  }

  100% {
    fill: red;
    transform: translatex(100px);
  }
}

.rainbow-animation {
  animation-name: rainbow;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
